# Terraform files
.terraform/
.terraform.lock.hcl
.env
clouds.yaml

#vscode
.vscode

# idea
.idea

#pycache
__pycache__

private_env_terraform_output.json


logs/
*.log

testing.sh

# Python env
env/

src/management_server/node_allocator/ansible/private_cloud/hosts
hosts