[Unit]
Description=Spotkube management server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/SpotKube/src/management_server/
Environment="SPOTKUBE_PATH=/home/ubuntu/SpotKube"
ExecStart=/bin/bash /home/ubuntu/SpotKube/src/management_server/run_mgt_server.sh
RestartSec=5

[Install]
WantedBy=multi-user.target
